@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');


@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}	
  
.fadeInUp {
  animation: fadeInUp cubic-bezier( 0.6, -0.63, 0.74, 0.045 )  .7s ;
}

.red-hat-font {
  font-family: 'Red Hat Display', sans-serif;
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.circular-btn {
  border-radius: 30px;
  color:#fff;
  transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #1a3276;
}

.circular-btn:hover {
  background-color: #274494;
  color: #FFF;
  outline: none;
}


.summary-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.pcard-transition { 
  transition: all .4s cubic-bezier(0.25, 0.8, 0.25, 1);
}